/*----Colors--------------------------------------------------------------------------------------
--white: #ffffff;
--off-white: #f4f4f4;
--cream: #f2f5f4;
--peach-pastel: #ffeddf;
--peachy: #de8948;
--boxxy-orange: #bf6b2a;
--burnt-orange: #903e00;
--dusk-orange: #331600;
-----*/

/*----Fonts---------------------------------------------------------------------------------------
.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100-900;
    font-style: normal;
  }  
-----*/


a {
    text-decoration: none;
}
.form-check-label {
    text-decoration: underline;
}

body {
    background-color: #F4F4F4;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #331600 !important;
    overflow: hidden;
}

.card1 {
    background-color: white;
    width: 100%;
    border-radius: 24px;
}

.file-upload {
    border: 1px #331600 solid;
    margin-bottom: 24px;
    border-radius: 8px;
    height: 100px;
}

.t_c_scroll {
    height: 120px;
    overflow: hidden;
    scroll-behavior: vertical;
    border: 1px #33160020 solid;
    border-radius: 6px;
    padding: 4px;
}

.custom-control-label:focus {
    border-color:#F4F4F4;
    background-color: #331600 !important;
}

#main {
    position: relative;
}

button a {
    text-decoration: none;
    color: #331600;
}

.btn-outline-danger {
    transition: background-color 0.3s ease, color 0.3s ease; 
    
  }

h1 {
    font-family: "Lilita One", sans-serif;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: "Lilita One", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #331600;
}

.condition-checks {
    border: 1px #331600 solid;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 8px;
    align-items: center;
}

#verify-id {
    background-color: #903e00;
    align-items: center;
    color: white;
    padding: 6px 16px;
    border-radius: 8px;
}

.btn-term div:hover {
    background-color: #331600 !important;
    color: white;
}

.btn-term a:focus, .btn-term a:visited {
    color: #331600;
    text-decoration: underline;
    background-color: #331600;
}

.btn-check:checked + .btn-outline-danger {
    background-color: #903e00;  
    color: white;
  }

.btn-outline-danger:hover {
    background-color: #bf6b2a; 
    color: white;
  }

.btn-custom {
    background-color: #903e00 !important;
    color: white;
}

.btn-custom:hover {
    background-color: #ffffff !important;
    border: 1px #331600 solid;
    color: #331600;
}

.shape-1  {
    background-color: #bf6b2a;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 24px;
    top: 40px;
    left: -100px;
    z-index: -10;
}

.shape-2  {
    background-color: #B4C5B6;
    width: 500px;
    height: 300px;
    position: absolute;
    border-radius: 24px;
    top: -150px;
    left: 40px;
    z-index: -20;
}
.shape-3  {
    background-color: #de8948;
    width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 24px;
    bottom: -140px;
    right: -40px;
    z-index: -20;
}

.btn-secondary {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: white;
    border: 1px #331600 solid;
    color: #331600;
}

.no-account {
    margin-top: 20px !important;
}

#splashcontent {

}